<div class="subsection">
    <form action="{{ url_for('checkout') }}" method="POST">
        <button class="checkout">Checkout {% if games|length > 1 %}these games{% else %}this game{% endif %}</button>
    </form>
</div>
