<nav>
    <div>
        <img src="https://www.gravie.com/wp-content/uploads/2020/08/Blue-Gravie-Logo_400x160.png">
    </div>
    <div class="site-name">
        Games
    </div>

    <div class="user">
        Hello, <strong>{{ meta.username }}</strong>
        |
        {{ meta.guids|length }} 🛒
    </div>
</nav>
