<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Gravie Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>

<div class="container">
    {% include "partials/header.html.jinja2" %}

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    {% include "partials/footer.html.jinja2" %}
</div>
</body>
</html>
